/*
 * Copyright (C) 2016 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "imx7d-sdb.dts"

/ { 
    mipi_dsi_reset: mipi-dsi-reset {
        compatible = "gpio-reset";
        reset-gpios = <&gpio6 15 GPIO_ACTIVE_LOW>;
        reset-delay-us = <1000>;
        #reset-cells = <0>;
    };
};
     
    &lcdif {
        disp-dev = "mipi_dsi_samsung";
    };
    
    &mipi_dsi {
    dev_id = <0>;
    disp_id = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_mipi_dsi_reset>;
    lcd_panel = "TRULY-WVGA";
    //lcd_panel = "TRULY-WVGA-TFT3P5581E";
    resets = <&mipi_dsi_reset>;
    mipi-phy = <&mipi_phy>;
    disp_power_on = <&mipi_dsi_pwr_on>;
    status = "okay";
    };
    
    /*
    mxcfb1: fb@0 {
        compatible = "fsl,mxc_sdc_fb";
        disp_dev = "mipi_dsi";
        interface_pix_fmt = "RGB565";
        mode_str = "TRULY-WVGA";
        default_bpp = <16>;
        int_clk = <0>;
        late_init = <0>;
        status = "okay";
        };
    };   
    
      mipi_phy: mipi-phy {
        compatible = "regulator-fixed";
     /* phy_data_lanes = <2>;
        max_phy_clock = <80000000>;
        phy_mode = "rgb";*/
        };
       
    mipi_dsi_pwr_on: mipi_dsi_power_on {
        compatible = "regulator-fixed";
        regulator-name = "reg_mipi_dsi_pwr_on";
        gpio = <&gpio6 14 0>;
        enable-active-high;
        };
*/
